
@{
Layout=null ;
}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title> add student</title>
		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
	</head>
	<body>
		<h3> 
			 student added 
		</h3>
	
		</body>
		</html>