@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Simple Web apps with ASP.NET Core</h1>
    <h4 class="text-center">Simple CRUD App using .NET CORE MVC,EntityFramwork,Sqlserver
       consists of CRUD operations for departments and students</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
